.dark-mode{
        background-color: darken($color: $grisOscuro, $amount: 10);
        p{
            color: $blanco;
        }
        a,h1,h2,h3,h4{
            color: darken($color: $gris, $amount: 10);
        }
        .anuncio{
            background-color: $grisOscuro;
            border: $grisOscuro;
            .precio{
                color: $verde;
            }
        }
        .iconoAnuncios{
            filter: invert(100%);
        }
        .texto-nosotros{
            blockquote{
                color: $amarillo;
            }
        }
        .resumen-propiedad{
            .precio{
                color: $verde;
            }
        }
        .entrada-blog{
            background-color: $grisOscuro;
        }
        .formulario{
            legend{
                color: $amarillo
            }
            label{
                color: $blanco;
            }
        }
        td{
           color: $blanco;
        }
}
