@use '../base/mixins' as m;
@use '../base/variables' as v;

.footer{
    background-color: v.$grisOscuro;
    margin-bottom: 0;
    .copyright{
        text-align: center;
        color: v.$blanco;
        font-size: 1.3rem;
        margin: 0;
        padding-bottom: 1rem;
    }
}
.contenedor-footer{
    padding-top: 1rem;
}